.tiktok-wrapper {
	display: flex;
	justify-content: center;
	width: 30%;
	height: 600px;
	margin: 0 auto;
	margin-top: 1.5rem;
	background-color: #ffffff;
	box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
}
.item {
	width: 540px;
	height: 563px;
}
.face-api-wrapper {
	display: flex;
	justify-content: center;
	width: 30%;
	height: 200px;
	margin: 0 auto;
	margin-bottom: 1.5rem;
	background-color: #ffffff;
	box-shadow: inset 4px 0px 4px rgba(0, 0, 0, 0.25);
}
.icon-wrapper {
  /* background-color: aqua; */
  display: inline-block;
  position: absolute;
  top: 57%;
  left: 61%;
}
.icon-size {
  font-size: 1.5rem;
}